
body{
    
    background-color: rgb(253, 233, 209);
}

p {
    color: #434343;  /* Text color */
    text-align: left;
    font-size: 14px;
    font-family: Verdana, Helvetica, sans-serif;
    
}


h2, h4 {
    margin-top: 0px;
    text-align: left;
    margin-bottom: 7px;
    color:  #434343;
    font-family: Verdana, Helvetica, sans-serif;
}

img {
    border-radius: 5px;  /* Adjust the px value for more or less rounding */
}


footer {
    text-align: center;       /* Center the text */
    font-size: 12px;          /* Adjust the font size */
    padding: 0px;            /* Add some padding */
    position: relative;       /* Adjusts the position at the bottom */
    bottom: 0;
}


.page {
    width: 900px;
    background-color:   #ffffff;
    margin: auto;
    padding: 50px;
    padding-top: 50px;
    border-radius: 15px; /* rounded corner */
    margin-top: 10px; /* inner white area starts further down*/
    margin-bottom: 10px;

}

.vis-container {
    width: 100%;
}


.description-right {
    padding-left: 20px;
    height: auto;
}

.description-left {
    padding-right: 20px;
    height: auto;
}

.pure-g {
    margin-bottom: 40px;
}

.small-font {
    font-size: 14px;
}

.banner-container {
    text-align: center; /* Center align the banner */
    margin: 20px 0; /* Add spacing around the banner */
  }
  
.banner {
display: flex;
justify-content: center; /* Ensure images are centered */
gap: 10px; /* Add space between images */
}

.banner img {
width: 33%; /* Each image takes one-third of the banner width */
height: auto; /* Keep the aspect ratio */
}
  

/* font for SELECT parameter */
input[type="range"], 
input[type="number"], 
select, 
label {
    font-family: 'Verdana', sans-serif;
    font-size: 12px;  
    color: #434343;  /* Text color */
    font-weight: bold;
}

/* Optional: Adjust padding or other styles for a consistent look */
input[type="range"], 
input[type="number"], 
select {
    padding: 1px;
}

